.App {
  text-align: center;
  background-color: #2c888d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h2{
  text-align: center;
  color: #49b2b8;
  font-size: 30px;
  margin: 0;
}